*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background-color: rgb(1, 1, 22);
    display: flex;
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: capitalize;
}

.box-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    flex-shrink: 0 ;
}
.box-img img{
    width: 100%;
}

.menu{
    background-color: #123;
    height: 100vh;
    width: 60px;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.menu:hover{
    width: 260px;
} 

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a {
    display: block;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

ul li a i {
    font-size: 30px;
}

ul li a:hover , .active , .data-info .box:hover , td:hover{
    background-color: #ffffff55;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a{
    background-color: #a00;
}

.content{
    width: 100%;
    margin: 10px;
}

.title , .products{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0 ;
}

.data-info{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.data-info .box{
    background-color: #123;
    flex-grow: 1;
    flex-basis: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.data-info .box .data{
    text-align: center;
}

.data-info .box i{
    font-size: 40px;
}

.data-info .box span{
    font-size: 30px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
}

th,td{
    background-color: #123;
    height: 45px;
    border-radius: 10px;
}

th{
    background-color: #0481ff;
}

.price{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}

.count{
    background-color: gold;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}



